---
import Layout from "../layouts/Layout.astro";
import ButtonReact from "../components/ButtonReact";
---

<Layout title="Probando astro">
  <main>
    <h1>Bienvenido!</h1>
    <ButtonReact client:visible />
  </main>
</Layout>
